{% extends "layout.njk"%}

{% block content %}
<main>
    <h1>Du befinner dig på INDEX.njk</h1>
    <ul>
    <li><a href="/1.1"> Börja läsa... </a></li>
    </ul>
    <p>Kapitel:</p>
    <ul>
    {% for i in storyData %}
        <li><a href="/{{ i.id }}">{{ i.id }}</a></li>
    {% endfor %}
    </ul>
</main>
{% endblock %}